.hero-title {
    strong {
      color: $danger;
      background-color: transparent;
    }
    strong:hover {
      color: white;
      background-color: $danger;
      transition: .25s ease-in-out;
    }
    em {
      color: $info;
      font-style: normal;
    }
    em:hover {
      color: white;
      background-color: $info;
      transition: .25s ease-in-out;
    }
}