{{ define "main" }}
	<main>
		<h2 class="mt-8 mb-1">404 - That link seems to be missing</h2>
		<p class="my-0">{{ .Site.Params.iam }} {{ .Site.Author.name }} - {{ .Site.Author.slogon }}</p>
		<p class="my-3 home-intro">Here are some recent posts that may be similar to what you are looking for:</p>
		{{ if eq .Paginator.PageNumber 1 }}
		<h3 class="my-6">Recent Posts</h3>
		{{ else }}
		<h3 class="my-6">Older Posts</h3>
		{{ end }}
		<div>
			{{ $paginator := .Paginate (where .Site.RegularPages "Kind" "page") }}
			{{ range $paginator.Pages }}
			{{ partial "list.html" . }}
			{{ end }}
			{{ partial "paginator.html" . }}
		</div>
	</main>
{{ end }}